*{
    margin: 0;
    padding: 0;
}

.titulo{
    display: flex;
    max-height: 140px;
    justify-content: end;
    background: linear-gradient(to right,  #3706aa,  #08d45a);
    color: white;
    
}
header p{
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3em;

}

nav{
    display: flex;
}
.logo-olimpiadas{
    max-height: 100px;
    max-width: 100px;
    margin: 15px;
}
li{
    display: inline-block;
    padding: 40px 50px;
    list-style: none;
}

img{
    width: 100%;
}

section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

article{
    border: solid  #3706aa 1px;
    margin: 5px;
    max-width: 380px;
}


figure{
    margin: 0;
}

figcaption{
    font-size: small;
    padding: 5px;
    color: #555;
    
}

header{
    color: #3706aa;
    font-size: 17px;
    padding: 7px;
}

input[type = checkbox]{
    display: none;
}

.hamburguer{
    display: none;
    user-select: none;
    font-size: 20px;
    
}

@media (max-width: 800px){
    .menu {
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    
    }
    
    .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
    }
    
    .menu li + li {
        margin-top: 12px;
    }
        
    input[type=checkbox]:checked ~ .menu{ 
        display: block;
    }
    .hamburguer{
        display: block;
    }

}
.dark{
    background-color:#03001C;
    color: #301E67; 
}
.light{
    background-color: #5B8FB9;
    color: #B6EADA; 
}
.switch input{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.switch label{
    
    display: flex; align-items: left;
    position: relative; background-color: aliceblue;
    border: 5px;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    padding: 2px;
    cursor: pointer;
    transition: 2px;

}
switch label::after{
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    width: 29px;
    height: 29px;
    background-color: #03001C;
    border-radius: 50%;
    transition: left;
}

.switch input:checked+label{background-color: black}
.switch input:checked+label::after{left:calc(100%-30px)}